$main-color: #FFE603;
$section-background: #f6f6f6;
$paragraph-color: #CBCBCB;
$section-padding: 60px;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

// Start my framework
.row {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

// End my framework
// Start media rules
// Small 
@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}

// Medium 
@media(min-width: 992px) {
    .container {
        width: 970px;
    }
}

// Large 
@media(min-width: 1199px) {
    .container {
        width: 1170px;
    }
}

// End media rules
// End Global Rules
// Start Components
.section-head {
    max-width: 100%;
    width: 500px;
    max-width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: $section-padding;
    .img,
    h2 {
        margin-bottom: 20px;
    }
    h2 {
        letter-spacing: 10px;
        text-transform: uppercase;
        font-weight: lighter;
    }
    p {
        line-height: 1.7;
        color: #777;
        text-align: center;
    }
}

%section {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: $section-background;
}

// End Components
// Start Header 
header .upperbar {
    padding: 20px;
    background-color: black;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 60px;
    }
    .links {
        &:hover ul {
            display: block;
        }
        position: relative;
        .icon {
            width: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
        .icon span {
            background-color: $main-color;
            margin-bottom: 5px;
            height: 2px;
        }
        .icon span:first-child {
            width: 50%;
            transition: .5s;
        }
        .icon span:nth-child(2) {
            width: 70%;
            transition: .5s
        }
        .icon span:last-child {
            width: 100%;
        }
        &:hover .icon span:first-child,
        &:hover .icon span:nth-child(2) {
            width: 100%;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            background-color: #f6f6f6;
            min-width: 200px;
            display: none;
            position: absolute;
            top: calc(100% + 15px);
            right: 0;
            z-index: 1;
        }
        ul::before {
            content: "";
            border-style: solid;
            border-width: 10px;
            border-color: transparent transparent #f6f6f6 transparent;
            position: absolute;
            right: 5px;
            top: -20px;
        }
        ul li a {
            display: block;
            padding: 15px;
            text-decoration: none;
            color: #333;
            transition: .3s;
        }
        ul li a:hover {
            padding-left: 25px;
        }
        ul li:not(:last-child) a {
            border-bottom: 1px solid #ddd;
        }
    }
}

// End Header
// Start landing
header .landing {
    background-image: url("https://yt3.ggpht.com/ytc/AAUvwnj9cT88AqdxILVdDpUVM5jYAkJwgBclv7GR6SSyqg=s900-c-k-c0x00ffffff-no-rj");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: calc(100vh - 62px);
    z-index: -1;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
    }
    .intro-text {
        max-width: 100%;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        text-transform: uppercase;
        text-align: center;
        font-weight: lighter;
        color: white;
    }
    h1 {
        margin: 0 0 30px 0;
        letter-spacing: 7px;
        line-height: 2;
    }
    p {
        letter-spacing: 3px;
        line-height: 1.7;
    }
    a {
        display: inline-block;
        margin-top: 40px;
        padding: 20px 30px;
        font-weight: 800;
        letter-spacing: 3px;
        text-decoration: none;
        color: black;
        background-color: $main-color;
    }
    @media (max-width: 767px) {
        .intro-text h1 {
            font-size: 20px;
        }
    }
}

// End landing
// Start About
.about {
    padding-top: $section-padding;
    padding-bottom: 120px;
    text-align: center;
    .image {
        margin: $section-padding 0;
    }
    p {
        width: 500px;
        max-width: 100%;
        margin: auto;
        line-height: 1.7;
        color: $paragraph-color;
    }
}

// End About
// Start Servicres 
.services {
    @extend %section;
    position: relative;
    .careers {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 40px;
        flex-direction: row;
        justify-content: space-between;
        .career:not(:last-child) {
            margin-bottom: 30px;
        }
        .card {
            text-align: center;
            padding: 15px 20px;
            background-color: white;
            border-radius: 2px;
            box-shadow: 3px 3px 10px #ddd, -3px -3px 5px #ddd;
        }
        .card i {
            font-size: 40px;
            padding: 30px 0;
        }
        .card h3 {
            text-transform: uppercase;
            letter-spacing: 3px;
            line-height: 1.5;
            margin-bottom: 20px;
        }
        p {
            line-height: 1.5;
            color: #777;
        }
        .skills {
            background-color: white;
            box-shadow: 3px 3px 10px #ddd, -3px -3px 5px #ddd;
            margin-top: 25px;
            padding: 10px;
        }
        .skills ul {
            list-style: none;
        }
        .skills .bar {
            background-color: #f6f6f6;
            padding: 0;
            height: 4px;
        }
        .skills .bar:not(:nth-child(3)) {
            margin-bottom: 10px;
        }
        .skills h5 {
            margin-bottom: 10px;
        }
        .skills .bar span {
            background-color: #FFE603;
            padding: 2px;
            display: block;
        }
    }
}

// End Servicres
// Start Achivements
.achivements {
    background-color: black;
    @extend %section;
    @media (max-width: 1199px) {
        & {
            display: none;
        }
    }
    .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 40px;
        flex-direction: row;
        justify-content: space-between;
        .box {
            background-color: white;
            padding: 20px 0;
            text-align: center;
        }
        .box span {
            font-weight: 800;
            margin-bottom: 5px;
            display: block;
        }
        .box p {
            text-transform: uppercase;
        }
    }
}

// End Achivements
// Start Portfolio
.portfolio {
    @extend %section;
    .careers ul {
        list-style: none;
        display: flex;
        li {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 0;
        }
        li.career {
            border-top: solid 3px;
            border-bottom: solid 3px;
        }
        li.career a {
            text-decoration: none;
            color: inherit;
            text-transform: uppercase;
        }
        li.img {
            position: relative;
        }
        li.img img {
            z-index: 3;
        }
        li.img::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 90px;
            height: 90px;
            background-color: #1d1d1d;
            border-radius: 50%;
        }
    }
    @media (max-width: 991px) {
        .careers {
            display: none;
        }
    }
    .images {
        padding: $section-padding 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        flex-wrap: wrap;
        .image {
            padding: 0 10px;
            display: grid;
            place-items: center;
            height: 300px;
        }
        .image .info {
            opacity: 0;
            background-color: white;
            text-align: center;
            padding: 20px;
            min-height: 50%;
            position: relative;
            transition: .5s ease-in-out;
        }
        .image:hover .info {
            opacity: 1
        }
        .image .info h4 {
            margin-bottom: 5px;
        }
        .image .info p {
            line-height: 1.7;
            font-size: 14px;
        }
        .image .info::before {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 20px;
            width: calc(100% - 40px);
            height: 20px;
            background-color: rgba(255, 228, 0, .7);
        }
        .image .info::after {
            content: "";
            position: absolute;
            top: -20px;
            left: 20px;
            width: calc(100% - 40px);
            height: 20px;
            background-color: rgba(255, 228, 0, .7);
        }
        .image:first-child {
            background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/shuffle-08.jpg");
            background-size: cover;
        }
        .image:nth-child(2) {
            background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/shuffle-03.jpg");
            background-size: cover;
        }
        .image:nth-child(3) {
            background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/shuffle-04.jpg");
            background-size: cover;
        }
        .image:nth-child(4) {
            background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/shuffle-02.jpg");
            background-size: cover;
        }
        .image:nth-child(5) {
            background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/shuffle-01.jpg");
            background-size: cover;
        }
        .image:last-child {
            background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/shuffle-07.jpg");
            background-size: cover;
        }
    }
    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            display: inline-block;
            text-decoration: none;
            letter-spacing: 3px;
            padding: 15px 25px;
            font-size: 14px;
            font-weight: 700;
            color: black;
            background-color: $main-color;
        }
    }
}

// End Portfolio
// Start Video
.video {
    background-image: url("https://thecreativeforum.com/wp-content/uploads/2021/02/Boston-Cityscape-at-Night-03.jpg");
    background-attachment: fixed;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
    }
    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        a {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 5px;
            padding: 20px 30px;
            font-size: 1rem;
            font-weight: lighter;
            border: solid 1px $main-color;
            color: $main-color;
        }
    }
}

// End Video
// Start Our-team
.our-team {
    @extend %section;
    position: relative;
    z-index: 2;
    .row {
        display: grid;
        row-gap: 40px;
    }
    @media (max-width: 767px) {
        .row {
            justify-content: center !important;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .row {
            grid-template-columns: repeat(2, 40%);
            justify-content: space-evenly !important;
        }
    }
    @media(min-width: 992px) and (max-width: 1199px) {
        .row {
            grid-template-columns: repeat(auto-fill, 30%);
            justify-content: space-evenly !important;
        }
    }
    @media(min-width: 1200px) {
        .row {
            grid-template-columns: repeat(auto-fill, 23%);
            justify-content: space-between !important;
        }
    }
    .employee {
        text-align: center;
        background-color: white;
        box-shadow: 3px 3px 10px #ddd, -3px -3px 5px #ddd;
        .img {
            position: relative;
        }
        img {
            filter: grayscale(100%);
            width: 100%;
            object-fit: fill;
        }
        .overlay {
            position: absolute;
            bottom: 4px;
            background-color: rgba(255, 228, 0, .7);
            height: 18%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .overlay span {
            font-size: 18px;
            letter-spacing: 4px;
            font-weight: lighter;
        }
        p {
            line-height: 1.5;
            padding: 20px;
        }
    }
    .brief {
        margin-top: 90px;
        position: relative;
        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
        }
        .column {
            flex-basis: 45%;
        }
        .column:first-child .slogan {
            margin-top: 30px;
        }
        .column:last-child .slogan {
            margin-bottom: 50px;
        }
        .info {
            background-color: black;
            color: white;
            line-height: 1.7;
            padding: 50px;
            font-size: 14px;
        }
        .slogan {
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .slogan q {
            padding-bottom: 10px;
            text-align: center;
            line-height: 1.7;
        }
        .slogan em {
            align-self: flex-end;
            font-weight: bold;
        }
        .img img {
            max-width: 100%;
        }
    }
    @media (max-width: 767px) {
        .row {
            justify-content: center;
        }
        .brief .column {
            flex-basis: 90%;
            margin: auto;
        }
        .brief .column:last-of-type {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    @media (min-width: 991px) {
        .brief::before {
            content: '';
            height: 200px;
            background-color: #fee502;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            z-index: -1;
        }
    }
}

// end Our-team
// Start Footer
footer {
    @extend %section;
    background-color: #1C1C1C;
    color: white;
    font-weight: lighter;
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    h3 {
        margin-bottom: 20px;
    }
    p {
        color: $paragraph-color;
        line-height: 1.7;
    }
    .info {
        padding-right: 20px;
        .logo {
            margin-bottom: 15px;
            margin-left: 15px;
        }
        p:first-of-type {
            margin-bottom: 30px;
        }
        p:last-of-type {
            margin-top: 5px;
        }
        p span {
            color: $main-color;
        }
    }
    .links,
    .about-us {
        ul a {
            padding: 7px 0;
            display: inline-block;
            color: inherit;
        }
    }
    .contact-us {
        a.link {
            background-color: $main-color;
            color: black;
            padding: 10px 20px;
            display: inline-block;
            border-radius: 20px;
            margin: 30px 0;
        }
        ul.social-icons {
            display: flex;
            flex-direction: row;
        }
        .social-icons li {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
        }
        .social-icons li a {
            color: black;
            display: block;
        }
    }
    @media (max-width: 767px) {
        .info,
        .links,
        .about-us,
        .contact-us {
            flex-basis: 80%;
            margin: auto;
            margin-bottom: 50px;
            text-align: center;
        }
        .contact-us .social-icons {
            justify-content: center;
        }
    }
    @media (min-width:768px) and(max-width: 991px) {
        .info,
        .links,
        .about-us,
        .contact-us {
            flex-basis: 45%;
            margin-bottom: 100px;
            text-align: center;
        }
        .contact-us .social-icons {
            justify-content: center;
        }
    }
    @media (min-width:992px) {
        .info,
        .links,
        .about-us,
        .contact-us {
            margin: auto;
        }
        .info,
        .contact-us {
            flex-basis: 30%;
        }
        .links,
        .about-us {
            flex-basis: 20%;
        }
    }
}

// End Footer